version: '3.9'

services:
  # Connects on docker network, server is `db:5432`
  db:
    image: postgres:15
    command: postgres -c wal_level=logical -c max_replication_slots=10
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dev_db
    ports:
      - '5432:5432'


  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
    volumes:
      - esdata01:/usr/share/elasticsearch/data
    ports:
      - ${ES_PORT}:9200
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
      - action.auto_create_index=false
    ulimits:
      memlock:
        soft: -1
        hard: -1


volumes:
  esdata01:
    driver: local
